/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  height: 100vh;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:#0C0C0D;
  font-weight: bold;
  font-size: small;
}

label{
  font-weight: bold;
}

input, select{
  margin-top: 5px;
  padding: 5px;
}

.active{
  background-color: #006565;
  color: white;
}




/*HEADER*/
header{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: #FFFFFF;
}

/*NAV*/
nav{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) ;
}

/*NAVBAR TOP*/
.navbar.top{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  background-color:#F2F3F7;
}

.navbar.top ul{
  display: flex;
}

.navbar.top ul li{
  margin: 0 10px;
}

.navbar.top img{
  width: 20px;
}

/*NAVBAR BOTTOM*/
.navbar.bottom img{
  width: 40%;
  height: 50px;
  object-fit: contain;
}

.navbar.bottom span{
  font-size: medium;
}

.navbar .logo{
  width: 20%;
  height: 50px;
}

.navbar.bottom .small-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/*SMALL NAV*/
.container-small-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center ;
  background-color: #F2F3F7;
  border-radius: 20px;
  height: 25px;
  font-size: small;
  font-weight: bold;
}

.container-small-nav div{
  margin: 0 10px;
  
}

.container-small-nav .active{
  border-radius: 20px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

/*NAVBAR BOTTOM*/
.navbar.bottom .add-cart{
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.bottom .info{
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

/*TRAVEL*/
.navbar.bottom .travel{
  min-height: 40px;
  border-top: 1px solid #DFDFDF;
  display: flex;
  justify-content: space-around;
}

.travel button{
  background-color: #EDEEF2;
  color: #272428;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
}

/*TRAVEL LEFT*/
.travel .left{
  display: flex;
}

.travel h5{
  padding-top: 10px;
}

.travel .fa-arrow-right-long{
  margin: 0 5px;
}

.travel #date-now{
  color: #636F8D ;
  font-size: small;
  font-weight: bold;
  padding-bottom: 10px;
}

.travel  #date-now span{
  font-size: small;
}

.travel .fa-circle{
  font-size: 5px;
  text-align: center;
  vertical-align: middle;
}

.travel .left button{
  margin-top: 20px;
}

/*TRAVEL RIGHT*/
.travel .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*MAIN*/
main{
  background-color: #F2F3F7;
  height: 100vh;
}

/*CONTAINER*/
main .container{
  width: 70%;
  margin: 0 auto;
  margin-top: 140px;
  padding-left: 15px;
  padding-top: 30px;
}

.ticket-top{
  display: flex;
  justify-content: space-between;
}

/*TEXT-RIGHT*/
.text-right{
  display: flex;
}

.text-right h4{
  margin: 0 10px;
}

.text-right button{
  border-style: none;
  background-color: #E3E6ED;
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}

/*CHOICE DAY*/
.choice-day{
  margin-top: 30px;
  background-color: #FAFAFA;
  height:90px;
  border-radius: 10px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choice-day .box{
  padding: 5px;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.choice-day .box i{
  text-align: center;
  vertical-align: middle;
}

.choice-day button{
  background-color:#006262;
  color: white;
  padding: 10px;
  border-style: none;
  border-radius: 10px;
}

.box.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice-day .box.day{
  border-right:1px solid #E3E6ED;
  width: 100%;
}

.choice-day .box.day.active{
  border-radius: 10px;
  font-size: large;
}

.choice-day .box.day.prec{
  color:#636A77;
}

.choice-day .box.day p{
  font-size: small;
}


/*TICKET*/
.ticket-bottom{
  margin: 60px 0;
}

.buyer{
  margin: 50px 0;
  background-color: #FAFAFA;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
  display: flex;
}

.info-buyer{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin:20px;
}

.train-ticket{
    margin: 50px 0;
    background-color: #FAFAFA;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    display: flex;

}

.train-ticket .box{
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.box div{
  font-size: x-large;
  margin-top: 30px;
}

.qr-code{
  width: 100%;
  height: 100%;
}

.qr-code img{
  width: 100%;
  height: 80%;
  object-fit: contain;
}

/*BUTTON TICKET*/
.button-ticket{
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-ticket button{
  margin: 10px;
  padding: 10px;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#genera{
  background-color:#005656;
}

#annulla{
  background-color: #E41233;
}

