/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color:#0C0C0D;
  font-weight: bold;
  font-size: small;
}

/*HEADER*/
header{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/*NAV*/
nav{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) ;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/*NAVBAR TOP*/
.navbar.top{
  background-color:#F2F3F7;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.navbar.top ul{
  display: flex;
}

.navbar.top ul li{
  margin: 0 10px;
}

.navbar.top img{
  width: 20px;
}

/*NAVBAR BOTTOM*/
.navbar.bottom img{
  width: 40%;
  height: 50px;
  object-fit: contain;
}

.navbar.bottom span{
  font-size: medium;
}

.navbar .logo{
  width: 20%;
  height: 50px;
}


.navbar.bottom .small-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.container-small-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center ;
  background-color: #F2F3F7;
  border-radius: 20px;
  height: 25px;
  font-size: small;
  font-weight: bold;
}

.container-small-nav div{
  margin: 0 10px;
  
}

.container-small-nav .active{
  background-color: #006565;
  border-radius: 20px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
}

.navbar.bottom .add-cart{
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar.bottom .info{
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}

/*TRAVEL*/
.navbar.bottom .travel{
  min-height: 40px;
  border-top: 1px solid #DFDFDF;
  display: flex;
  justify-content: space-around;
}

.travel .left{
  display: flex;
}

.travel h5{
  padding-top: 10px;
}

.travel .fa-arrow-right-long{
  margin: 0 5px;
}

.travel #date-now{
  color: #636F8D ;
  font-size: small;
  font-weight: bold;
  padding-bottom: 10px;
}

.travel  #date-now span{
  font-size: small;
}

.travel .fa-circle{
  font-size: 5px;
  text-align: center;
  vertical-align: middle;
}


.travel .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

.travel button{
  background-color: #EDEEF2;
  color: #272428;
  border-style: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
}

.travel .left button{
  margin-top: 20px;
}



/*MAIN*/
main{
  background-color: #F2F3F7;
}





/* 
img{
  max-width: 100%;
}

button{
margin: 10px 5px;
}

input, select{
  margin: 5px 0;
}


.row{
  display: flex;
  color:#006C67 ;
  justify-content: space-between;
  margin-top: 30px;}

.row .col{
  margin: 0 5px;
}

.row-output{
  margin-top: 10%;
  min-height: 350px;
  background-color:  #C41329 ;
  color: white;
}

.row-output img{
  width: 20%;
}

.row.travel{
  background-color:  #C41329 ;
  color: white;
}

.qr-code{
  text-align: end;
  margin: 0 20px;

}


.logo{
  width: calc( 100% / 3);
}
 */
